@model IEnumerable<RadioCabs.Models.Cars>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarsImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarsModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarsImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarsModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
