@model RadioCabs.Models.CompanyRegistration

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}



<div class="am-pagetitle">
    <h5 class="am-title">Edit Company's Detail</h5>
    <form id="searchBar" class="search-bar" action="index.html">
        <div class="form-control-wrapper">
            <input type="search" class="form-control bd-0" placeholder="Search...">
        </div><!-- form-control-wrapper -->
        <button id="searchBtn" class="btn btn-orange"><i class="fa fa-search"></i></button>
    </form><!-- search-bar -->
</div><!-- am-pagetitle -->

<div class="am-mainpanel">
    <div class="am-pagebody">

        <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Edit Detail</h6>
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CompanyId" />
                <div class="form-layout">
                <div class="row mg-b-25">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">CompanyName: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="CompanyName">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">ContactPerson: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="ContactPerson">
                        </div>
                    </div><!-- col-4 -->
                     <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Logo Image: <span class="tx-danger">*</span></label>
                            <input type="file" class="form-control" asp-for="LogoImage">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Fax Numebr: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="FaxNumber">
                        </div>
                    </div><!-- col-4 -->
                     <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Mobile: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="Mobile">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Telephone: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="Telephone">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Designation: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" asp-for="Designation">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Payment Type: <span class="tx-danger">*</span></label>
                            <select asp-for="PaymentType" class="form-control">
                                <option value="">-- Select Payment Type --</option>
                                @foreach (var item in Enum.GetValues(typeof(PaymentType)))
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div><!-- col-4 -->
                     <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Membership Type: <span class="tx-danger">*</span></label>
                            <select asp-for="MembershipType" class="form-control">
                                <option value="">-- Select Membership Type --</option>
                                @foreach (var item in Enum.GetValues(typeof(MembershipType)))
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Email address: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="Email" >
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">city: <span class="tx-danger">*</span></label>
                            <select asp-for="City" class="form-control select2">
                                <option value="">-- Select City --</option>
                                @foreach (var item in Enum.GetValues(typeof(City)))
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-8">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Address: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="Address">
                        </div>
                    </div><!-- col-8 -->
                    <div class="col-lg-8">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Description: <span class="tx-danger">*</span></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                        </div>
                    </div><!-- col-8 -->
                    
                    <input type="hidden" asp-for="UserId" class="form-control" />
                </div><!-- row -->

                <div class="form-layout-footer">
                    <button class="btn btn-info mg-r-5">Submit Form</button>
                    <input type="reset" class="btn btn-secondary" value="Reset">
                    @*<button class="btn btn-secondary">Cancel</button>*@
                </div><!-- form-layout-footer -->
            </div><!-- form-layout -->
            </form>
        </div><!-- card -->
        
    </div><!-- am-pagebody -->
        
        


