@model RadioCabs.Models.AdvertiseRegistration

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<div class="am-pagetitle">
    <h5 class="am-title">Advertise Your Company</h5>
    <form id="searchBar" class="search-bar" action="index.html">
        <div class="form-control-wrapper">
            <input type="search" class="form-control bd-0" placeholder="Search...">
        </div><!-- form-control-wrapper -->
        <button id="searchBtn" class="btn btn-orange"><i class="fa fa-search"></i></button>
    </form><!-- search-bar -->
</div><!-- am-pagetitle -->

<div class="am-mainpanel">
    <div class="am-pagebody">

        <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Advertise Your Company</h6>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-layout">
                    <div class="row mg-b-25">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">CompanyName: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="CompanyName" value="@ViewBag.cnam">
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Designation: <span class="tx-danger">*</span></label>
                                <input class="form-control" type="text" asp-for="Designation" value="@ViewBag.Designation">
                                <span asp-validation-for="Designation" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Fax Number: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="FaxNumber" value="@ViewBag.FaxNumber">
                                <span asp-validation-for="FaxNumber" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Mobile: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="Mobile" value="@ViewBag.Mobile">
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Telephone Number: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="TelePhone" value="@ViewBag.Telephone">
                                <span asp-validation-for="TelePhone" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">Payment Type: <span class="tx-danger">*</span></label>
                                <select id="type" asp-for="PaymentType" class="form-control">
                                    <option value="">-- Select Payment Type --</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Quarterly">Quarterly</option>
                                </select>
                                <p id="Mon">$. 15.00</p>
                                <p id="Qua">$. 40.00</p>
                                <span asp-validation-for="PaymentType" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Email address: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="Email" value="@ViewBag.Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-8">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">Address: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="Address" value="@ViewBag.Address">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div><!-- col-8 -->
                        <div class="col-lg-8">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">Description: <span class="tx-danger">*</span></label>
                                <textarea asp-for="Description" class="form-control" value="@ViewBag.Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div><!-- col-8 -->
                    </div><!-- row -->

                    <input type="hidden" asp-for="PaymentStatus" value="@ViewBag.PaymentStatus">
                    <input type="hidden" asp-for="CompId" value="@ViewBag.id">

                    <div class="form-layout-footer">
                        @*<button class="btn btn-info mg-r-5">Submit Form</button>*@
                        <input type="submit" class="btn btn-info mg-r-5" value="Submit">
                        <input type="reset" class="btn btn-secondary" value="Reset">
                        @*<button class="btn btn-secondary">Cancel</button>*@
                    </div><!-- form-layout-footer -->
                </div><!-- form-layout -->
            </form>
        </div><!-- card -->

    </div><!-- am-pagebody -->

@*<h1>Create</h1>

<h4>AdvertiseRegistration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelePhone" class="control-label"></label>
                <input asp-for="TelePhone" class="form-control" />
                <span asp-validation-for="TelePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaxNumber" class="control-label"></label>
                <input asp-for="FaxNumber" class="form-control" />
                <span asp-validation-for="FaxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <input asp-for="PaymentType" class="form-control" />
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

