@model RadioCabs.Models.AdvertiseRegistration
@{
    ViewData["Title"] = "PaymentEdit";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<div class="am-pagetitle">
    <h5 class="am-title">Confirm Payment</h5>
    <form id="searchBar" class="search-bar" action="index.html">
        <div class="form-control-wrapper">
            <input type="search" class="form-control bd-0" placeholder="Search...">
        </div><!-- form-control-wrapper -->
        <button id="searchBtn" class="btn btn-orange"><i class="fa fa-search"></i></button>
    </form><!-- search-bar -->
</div><!-- am-pagetitle -->

<div class="am-mainpanel">
    <div class="am-pagebody">
<h3>Are you sure you The Payment Is Received?</h3>
<div>
    <h4>Confirm Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            Payment Status
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
    </dl>
    @if (Model.PaymentStatus=="Pending")
    {
        <form asp-action="PaymentEdit">
            <input type="hidden" asp-for="AdvId" />
            <input type="submit" value="Received" class="btn btn-danger" /> |
        </form>
    }
    else
    {
        <form asp-action="PaymentEdit">
            <input type="hidden" asp-for="AdvId" />
            <input type="submit" value="Pending" class="btn btn-danger" /> |
        </form>
    }
</div>
</div>
