@model RadioCabs.Models.CompanyRegistration

@{
    ViewData["Title"] = "CompanyForm";
}

<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Register Your Company
				</h1>
				<p class="text-white link-nav"><a asp-area="" asp-controller="Home" asp-action="Index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="elements.html"> Elements</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<div class="whole-wrap mt-5 mb-5" >
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                    <h3 class="mb-30">Registration Form</h3>
                <form asp-action="CompanyForm" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mt-10">
						<input type="text" asp-for="CompanyName" placeholder="Your Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Company Name'" class="single-input" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                    <div class="mt-10">
						<input type="text" asp-for="ContactPerson" value="@ViewBag.n" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Contact Person'" class="single-input" />
                        <span asp-validation-for="ContactPerson" class="text-danger"></span>
                    </div>
                    <div class="mt-10">
						<input type="text" asp-for="Designation" placeholder="Your Designation" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Designation'" class="single-input" />
                        <span asp-validation-for="Designation" class="text-danger"></span>
                    </div>
                    <div class="mt-10">
						<input type="text" asp-for="Address" value="@ViewBag.ad" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Address'" class="single-input" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="mt-10">
						<input type="text" asp-for="Mobile" placeholder="Your Mobile" value="@ViewBag.m" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Mobile'" class="single-input" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="mt-10">
						<input type="text" asp-for="Telephone" placeholder="Your Telephone" value="@ViewBag.t" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Telephone'" class="single-input" />
                        <span asp-validation-for="Telephone" class="text-danger"></span>
                    </div>
                    <div class="mt-10">
						<input type="text" asp-for="FaxNumber" placeholder="Your Fax Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Fax Number'" class="single-input" />
                        <span asp-validation-for="FaxNumber" class="text-danger"></span>
                    </div>
                    <div class="mt-10">
						<input type="text" asp-for="Email" placeholder="Your Email" value="@ViewBag.e" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'" class="single-input" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mt-10">
						<select asp-for="MembershipType" class="form-control">
							<option value="">-- Select Membership Type --</option>
							@foreach (var item in Enum.GetValues(typeof(MembershipType)))
							{
								<option value="@item">@item</option>
							}
						</select>
						<span asp-validation-for="MembershipType" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<select asp-for="City" class="form-control">
							<option value="">-- Select City --</option>
							@foreach (var item in Enum.GetValues(typeof(City)))
							{
								<option value="@item">@item</option>
							}
						</select>
						<span asp-validation-for="City" class="text-danger"></span>
					</div>
                    <div class="mt-10">
						<select id="type" asp-for="PaymentType" class="form-control">
							<option value="">-- Select Payment Type --</option>
							@foreach (var item in Enum.GetValues(typeof(PaymentType)))
							{
								<option value="@item">@item</option>
							}
						</select>
						<p id="Mon">$. 8.00</p>
						<p id="Qua">$. 25.00</p>
                        <span asp-validation-for="PaymentType" class="text-danger"></span>
                    </div>
                    <div class="mt-10">
                        <input type="file" name="image" class="single-input" />
                        <span asp-validation-for="LogoImage" class="text-danger"></span>
                    </div>
					<div class="mt-10">
						<textarea asp-for="Description" placeholder="Your Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Description'" class="single-input"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
					<div class="mt-10">
						<input type="hidden" asp-for="UserId" type="hidden" value="@ViewBag.id" class="single-input" />
						<span asp-validation-for="UserId" class="text-danger"></span>
					</div>
                    <div class="button-group-area mt-40">
						<input type="submit" class="btn btn-warning genric-btn link circle" value="Submit">
						<input type="reset" class="btn btn-warning genric-btn link circle" value="Reset">
					</div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
	$(document).ready(function () {
		// Hide the paragraph initially
		$('#Mon').hide();
		$('#Qua').hide();

		// Attach the change event handler to the select element
		$('#type').change(function () {
			var selectedOption = $(this).val();

			if (selectedOption === 'Monthly') {
				$('#Mon').show(); // Show the paragraph
				$('#Qua').hide(); // Show the paragraph
			}
			else if (selectedOption === 'Quarterly') {
				$('#Mon').hide(); // Show the paragraph
				$('#Qua').show(); // Show the paragraph
			}
			else if (selectedOption === '') {
				$('#Mon').hide(); // Show the paragraph
				$('#Qua').hide(); // Show the paragraph
			}
			else {
				$('#type').hide(); // Hide the paragraph
			}
		});
	});
</script>