@model RadioCabs.Models.DriversRegistration

@{
    ViewData["Title"] = "DriverForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Register As Driver
				</h1>
				<p class="text-white link-nav"><a asp-area="" asp-controller="Home" asp-action="Index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="elements.html"> Elements</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<div class="whole-wrap mt-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<h3 class="mb-30">Registration Form</h3>
				<form asp-action="DriverForm" method="post" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="mt-10">
						<input type="text" asp-for="DriverName" placeholder="Your Driver Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Driver Name'" class="single-input" />
						<span asp-validation-for="DriverName" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<input type="text" asp-for="ContactPerson" value="@ViewBag.n" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Contact Person'" class="single-input" />
						<span asp-validation-for="ContactPerson" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<input type="text" asp-for="Address" value="@ViewBag.ad" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Address'" class="single-input" />
						<span asp-validation-for="Address" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<input type="text" asp-for="Mobile" placeholder="Your Mobile" value="@ViewBag.m" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Mobile'" class="single-input" />
						<span asp-validation-for="Mobile" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<input type="text" asp-for="Telephone" placeholder="Your Telephone" value="@ViewBag.t" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Telephone'" class="single-input" />
						<span asp-validation-for="Telephone" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<input type="text" asp-for="Experience" placeholder="Your Experince" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Experience'" class="single-input" />
						<span asp-validation-for="Experience" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<input type="text" asp-for="Email" placeholder="Your Email" value="@ViewBag.e" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'" class="single-input" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<select asp-for="City" class="form-control">
							<option value="">-- Select City --</option>
                                    <option value="Karachi">Karachi</option>
                                    <option value="Islamabad">Islamabad</option>
                                    <option value="Rawalpindi">Rawalpindi</option>
                                    <option value="Hyderabad">Hyderabad</option>
                                    <option value="Multan">Multan</option>
                                    <option value="Lahore">Lahore</option>
                                    <option value="Quetta">Quetta</option>
						</select>
						<span asp-validation-for="City" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<select id="type" asp-for="PaymentType" class="form-control">
							<option value="">-- Select Payment Type --</option>
							<option value="Monthly">Monthly</option>
							<option value="Quarterly">Quarterly</option>
						</select>
						<p id="Mon">$. 10.00</p>
						<p id="Qua">$. 25.00</p>
						<span asp-validation-for="PaymentType" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<textarea asp-for="Description" placeholder="Your Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Description'" class="single-input"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<input type="file" name="image" class="single-input" />
						<span asp-validation-for="DriverImg" class="text-danger"></span>
					</div>
					<div class="mt-10">
						<input type="hidden" asp-for="UserId" type="hidden" value="@ViewBag.id" class="single-input" />
						<span asp-validation-for="UserId" class="text-danger"></span>
					</div>
					<div class="button-group-area mt-40">
						<input type="submit" class="btn btn-warning genric-btn link circle" value="Submit">
						<input type="reset" class="btn btn-warning genric-btn link circle" value="Reset">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

