@model RadioCabs.Models.CompanyRegistration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompanyRegistration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registration.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CompanyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
